discord-ext-menus==1.1
discord.py==2.4.0
toml==0.10.2
APScheduler==3.11.0
word2number==1.1
pyee==12.1.1
numpy==2.2.1
babel==2.16.0
yt-dlp>=2024.0.0
num2words==0.5.14
python-dotenv>=1.0.1
PyYAML>=6.0.1
